# Logs
logs
*.log

# Node Modules
node_modules/

# Dependency directories
frontend/node_modules/
backend/node_modules/

# Build directories
frontend/build/
backend/build/

# Environment variables
.env
frontend/.env
backend/.env

# MacOS
.DS_Store

# Other
*.bak
*.tmp
